<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped" id="Books">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books; let i=index" class="book-element">
            <td id="id">{{ i+1 }}</td>
            <td id="title">{{ book.title }}</td>
            <td id="author">{{ book.author }}</td>
            <td id="price">${{ book.price }}</td>
            <td id="edit"><a routerLink="/editbook/{{book.id}}"  class="btn btn-info" id={{book.id}}>Edit Book</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>