<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped" id="Books">
      <thead class="thead-dark">
        <tr>
          <th class="hidden">Book ID</th>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books; let i=index" class="book-element">
          <td id="id" class="hidden">{{book.id}}</td>
          <td id="fakenumber">{{ i+1 }}</td>
          <td id="title">{{ book.title }}</td>
          <td id="author">{{ book.author }}</td>
          <td id="price">${{ book.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>